<footer>
    <div class="container-fluid flex flex-wrap">
        <div class="col"><h5>Contact Us</h5>
        <ul class="footer-address">
            <li><a href="">41, Second Floor, Navjivan Industrial,
                Society, Near Unique Hospital,
                Khatodara, Laxmi Nagar, Udhna,
                Surat, Gujarat 395002</a></li>
                <li><a href="mailto:support@ethnicplus.pk">support&#64;ethnicplus.pk</a></li>
                <li><a href="">+92 3242340583</a></li>
        </ul>
        </div>
        <div class="col">
            <h5>Categories</h5>
            <ul class="footer-nav">
                <li><a routerLink="shop">Category Name</a></li>
                <li><a routerLink="shop">Category Name</a></li>
                <li><a routerLink="shop">Category Name</a></li>
                <li><a routerLink="shop">Category Name</a></li>
                <li><a routerLink="shop">Category Name</a></li>
                <li><a routerLink="shop">Category Name</a></li>
            </ul>
        </div>
        <div class="col"><h5>Informations</h5>
            <ul class="footer-nav">
                <li><a routerLink="shop">About Us</a></li>
                <li><a routerLink="shop">Terms & Conditions</a></li>
                <li><a routerLink="shop">Returns & Exchanges</a></li>
                <li><a routerLink="shop">Shipping & Delivery</a></li>
                <li><a routerLink="shop">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col"><h5>Useful Links</h5>
            <ul class="footer-nav">
                <li><a routerLink="shop">Contact Us</a></li>
                <li><a routerLink="shop">My Account</a></li>
                <li><a routerLink="shop">Size Guide</a></li>
                <li><a routerLink="shop">FAQs</a></li>
            </ul>
        </div>
        <div class="col"><h5>Newsletter Signup</h5>
        <p>Subscribe to our newsletter and get latest offers and news.</p>
        <form class="form-subscribe" method="post" action="">
            <div class="field-newsletter">
                <input name="email" type="email" required="" placeholder="Your email address" />
            </div>
            <div class="actions-subscribe">
                <button type="submit" data-element="subscribe">Subscribe</button>
            </div>
        </form>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid flex flex-wrap">
            <div class="col"><p>&copy; {{currentYear}} Elegance Boutique. All Rights Reserved.</p></div>
            <div class="col">
                <img src="assets/payment.webp" width="291" height="22" alt="payment">
            </div>
        </div>
    </div>
</footer>