/* home--category-grid start */
.home--category-grid{
  padding: 30px 0px;
}
.home--category-grid {
  display: grid;
  grid-template-areas: 
    'item1 item3 item4'
    'item2 item3 item5';
  width: 100%;
  gap: 15px;
}
.home--category-grid article{
  position: relative;
}
.home--category-grid article img{
  width: 100%;
  min-width:285px;
  height: 300px;
  position: relative;
  background-color: #f5f5f5;
  object-fit: cover;
  object-position: center;
}

.home--category-grid article:nth-child(3) img{
  width: 100%;
  min-width:590px;
  height: 625px;
}
.home--category-grid article:nth-child(1){
  grid-area: item1;
  
}
.home--category-grid article:nth-child(2){
  grid-area: item2;
}
.home--category-grid article:nth-child(3){
  grid-area: item3;
  
}
.home--category-grid article:nth-child(4){
  grid-area: item4;
}
.home--category-grid article:nth-child(5){
  grid-area: item5;
}
.category--title{
  position: absolute;
  bottom: 2.5rem;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
/* home--category-grid end */
/* content-area start */
.content-area{
    padding: 20px 0px;
}
/* content-area end */
/* faqs start */
.faqs{
    padding: 30px 0px;
}
.faqs .accordion .accordion-item {
    border-bottom: 1px solid #dad6d6;
  }
.faqs .accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #000;
  }
  .faqs .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #000;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .faqs .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #000;
  }
  .faqs .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
  }
  .faqs .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  .faqs .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border-radius: 22px;
  }
  .faqs .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .faqs .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  .faqs .accordion button[aria-expanded=true] {
    color: #000;
  }
  .faqs .accordion button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .faqs .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .faqs .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .faqs .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }
/* faqs end */